<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

<section class="main">

<!--***************** header part starts *******************-->

<div class="header" id="topheader">
<nav class="navbar navbar-expand-lg fixed-top">
	<div class="container text-uppercase p-2">

  <a class="navbar-brand font-weight-bold text-white">Innerve'20</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto text-uppercase">

      <li class="nav-item active">
        <a class="nav-link" href="https://www.innerve-igdtuw.com/events.html">Events<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://www.innerve-igdtuw.com/g.html">Gallery</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://www.innerve-igdtuw.com/meet.html">Our Team</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://www.google.com/maps/place/Indira+Gandhi+Delhi+Technical+University+for+Women/@28.6657889,77.2325628,17z/data=!4m5!3m4!1s0x390cfd0683919c3b:0xf5fc331b74c2b9e2!8m2!3d28.6652594!4d77.2323931">Location</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://www.innerve-igdtuw.com/ig.html">Sponsors</a>
      </li>

    </ul>
</div>
	</div>
</nav>

<div class="header-section">
	<img src="https://www.innerve-igdtuw.com/innerve_logo.png" width="450" height="350" alt="Innerve" align="center">
	<div class="center-div">
		<p>Unveil your talent here!<br>Registration ends on 17th August 2020</p>
		<h1>Please note registration is mandatory for entry into the IGDTUW campus.</h1>
		<div class="header-buttons">
			<a href="https://forms.gle/owDjPUo9SpMWEQYh7">Register</a>
		</div>
	</div>

</div>

</div>

<!--***************** header part ends *******************-->

<!--***************** three blocks start ********-->

<div class="header-extradiv">
	<div class="container">
		<div class="row">

			<div class="extra-div col-lg-4 col-md-4 col-12">
				<a href="https://www.innerve-igdtuw.com/socialCampaign.html"><i class=" change fa-3x fa fa-female" aria-hidden="true"></i></a>
				<a href="https://www.innerve-igdtuw.com/socialCampaign.html"><h2 class="change">SOCIAL CAMPAIGN</h2></a>
				<p>SheShakti<br>"Ek naari, sab pe bhaari"<br>At Innerve, we firmly believe in "Empower the Women, Develop the Nation." Henceforth, in our sixth edition, we aspired to empower women via self-defence.</p>
			</div>

			<div class="extra-div col-lg-4 col-md-4 col-12 ">
				<i class="change fa-3x fa fa-user" aria-hidden="true"></i>
				<h2 class="change">ABOUT US</h2>
				<p>Innerve is the annual technical fest of Indira Gandhi Delhi Technical University for Women (IGDTUW). With its inception in 2015, every year, the two-day extravaganza has witnessed a phenomenal gathering of students from all domains.</p>
			</div>

			<div class="extra-div col-lg-4 col-md-4 col-12 ">
				<a href="https://www.innerve-igdtuw.com/cc.html"><i class="change fa-3x fa fa-gavel" aria-hidden="true"></i></a>
				<a href="https://www.innerve-igdtuw.com/cc.html"><h2 class="change">CODE OF CONDUCT</h2></a>
				<p><strong>Innerve</strong> is dedicated to providing a harassment-free festival experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or technology choices.</p>
			</div>

		</div>
		
	</div>
	
</div>

<!--***************** three blocks end ********-->

<!--***************** gif starts ********-->

<div class="text-center">
<img src="https://thumbs.gfycat.com/OrderlySoupyBlackfly-size_restricted.gif" width="100%" height="100%" class="centerimg">
</div>

<!--***************** gif ends ********-->

<!--***************** contact section starts ********-->

<div class="serviceoffers" id="servicediv">
	<div class="container headings text-center">
		<h1 class="text-center font-weight-bold">CONTACT US</h1>
		<p class="text-center">We're with you!</p>
	</div>

	<div class="container">
		<div class="row">

			<div class="col-lg-6 col-md-12 col-10 offset-1 offset-lg-0">

				<div class="names my-3">
					<h1>Follow us on:</h1>
				</div>
				
				<div class="names my-3">
					<a href="https://www.facebook.com/igdtuwinnerve"><i class="fa-2x fa fa-facebook-official" aria-hidden="true"></i></a>
				</div>

				<div class="names my-3">
					<a href="https://www.instagram.com/innerveigdtuw/"><i class="fa-2x fa fa-instagram" aria-hidden="true"></i></a>
				</div>

				<div class="names my-3">
					<a href="https://twitter.com/Innerveigdtuw"><i class="fa-2x fa fa-twitter" aria-hidden="true"></i></a>
				</div>

				<div class="names my-3">
					<a href="https://www.linkedin.com/company/innerve/"><i class="fa-2x fa fa-linkedin" aria-hidden="true"></i></a>
				</div>

			</div>

			<div class="col-lg-6 col-md-12 col-12 servicediv">

				<div class="row">
					<div class="col-lg-2 col-2 service-icons">
						<i class="fa-3x fa fa-map-marker" aria-hidden="true"></i>
					</div>
					<div class="col-lg-10 col-10">
						<h2>Address</h2>
						<p>Madrasa Road Opposite St. James Church ,Kashmere Gate, New Delhi, Delhi 110006</p>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-2 col-2 service-icons">
						<i class="fa-3x fa fa-envelope-o" aria-hidden="true"></i>
					</div>
					<div class="col-lg-10 col-10">
						<h2>Email</h2>
						<p>innervewebdev20@gmail.com</p>
					</div>
				</div>
				
			</div>

		</div>
	</div>
	
</div>

<!--***************** contact section ends ********-->

<!--***************** footer section starts ********-->

<div class="copy mt-5 text-center">
	<p>© 2020 Innerve IGDTUW. All rights reserved.</p>
	
</div>

<div class="scrolltop float-right">
	<i class="fa fa-arrow-up" onclick="topFunction()" id="myBtn"></i>
	
</div>

<!--***************** footer section ends ********-->

</section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


  <script>
  	
  	//get the button
  	mybutton = document.getElementById("myBtn");

  	//when the user scrolls down 20px from the top of the webpage, show the button
  	window.onscroll = function() {scrollfunction()};

  	function scrollfunction() {
  		if(document.body.scrollTop > 20 || document.documentElement.scrollTop > 20){
  			mybutton.style.display = "block";
  		}
  		else{
  			mybutton.style.display = "none";
  		}
  	}

  	//when the user clicks on the button, scroll to the top of the webpage

  	function topFunction() {
  		document.body.scrollTop = 0; //for safari
  		document.documentElement.scrollTop = 0; //for chrome, firefox, IE and opera
  	}

  </script>

</body>
</html>